{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}

    {{- if .Params.tags -}}
    <div class="post-tags" style="margin-top: 2em; padding-top: 1em; border-top: 1px solid var(--border);">
        <p>
            {{- range .Params.tags -}}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">#{{ . }}</a>&nbsp;
            {{- end -}}
        </p>
    </div>
    {{- end -}}
</article>
{{ end }}